<DataModal @bind-Visible="@Visible"
           Title="Confirm Delete?"
           YesButton="Delete"
           ResultClicked="@ResultClicked">
    <Heading Padding="Padding.Is3.OnAll"
             Size="HeadingSize.Is5">
        Are you sure you want to delete
        <span class="font-weight-bold" title="ID: @ObjectId">@ObjectName</span>
        ?
    </Heading>
</DataModal>

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public string ObjectName { get; set; }

    [Parameter]
    public Guid ObjectId { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public EventCallback<bool> ResultClicked { get; set; }
}
