<ListGroup>
    @foreach (var risk in Value)
    {
        <ListGroupItem Padding="Padding.Is1.OnY">
            <Row>
                <Column Margin="Margin.Is2.FromRight">
                    <Heading Size="HeadingSize.Is6" Margin="Margin.Is0.FromBottom">
                        <strong>@risk.Risk</strong>
                    </Heading>
                    <span class="text-xs">@risk.Recommendation</span>
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto">
                    <RiskScoreBadge Value="@risk.Score" />
                </Column>
            </Row>
        </ListGroupItem>
    }
</ListGroup>

@code {
    [Parameter]
    public IEnumerable<RiskyConfigurationItem> Value { get; set; } = new List<RiskyConfigurationItem>();
}