@page "/providers" 

<Container Fluid="true">
    <Row Class="bg-light border border-secondary py-2">
        <Column ColumnSize="ColumnSize.Is6" Class="text-center">
            <span class="h5 text-primary font-weight-bold">❚ Rekeyable Object Provider</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6" Class="text-center">
            <span class="h5 text-secondary font-weight-bold">❚ Application Lifecycle Provider</span>
        </Column>
    </Row>
    <Row>
        @foreach (var item in ProviderList)
        {
        <Column ColumnSize="ColumnSize.Is3.OnDesktop.Is6.OnTablet.Is12.OnMobile">
            <ProviderMetadataCard Provider="@item" />
        </Column>
        }
    </Row>
</Container>

@using AuthJanitor.UI.Cards;
@using AuthJanitor.UI.Shared.ViewModels; 
@code {
    protected IEnumerable<LoadedProviderViewModel> ProviderList { get; set; } = new List<LoadedProviderViewModel>();

    protected override async Task OnInitializedAsync()
    {
        ProviderList = await Http.AJList<LoadedProviderViewModel>();
    }
}
