<Card Class="@DisplayClass" Padding="Padding.Is2.OnY" Margin="Margin.Is2">
    <CardBody>
        <Row Class="align-items-center no-gutters">
            <Column Margin="Margin.Is2.FromRight">
                <div class="text-uppercase text-@HeadingColor.ToString().ToLower() font-weight-bold text-xs mb-1"><span>@Heading</span></div>
                <div class="text-@DataColor.ToString().ToLower() font-weight-bold h5 mb-0"><span>@Data</span></div>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <i class="@Icon fa-2x text-gray-300"></i>
            </Column>
        </Row>
    </CardBody>
</Card>

@code {
    [Parameter]
    public Color HeadingColor { get; set; } = Color.Primary;

    [Parameter]
    public Color DataColor { get; set; } = Color.Dark;

    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public string Data { get; set; }

    [Parameter]
    public string Icon { get; set; }

    public string DisplayClass => $"shadow border-left-{HeadingColor.ToString().ToLower()}";
}
