<Table FullWidth="true" Borderless="true" Striped="true" Margin="Margin.Is0.OnAll">
    <TableHeader>
        <TableRow>
            <TableHeaderCell>
                <span class="float-left" style="width:2.3em;">&nbsp;</span>
                Setting
            </TableHeaderCell>
            <TableHeaderCell>
                Value
            </TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @if (Value != null && Value.ConfigurationItems != null && Value.ConfigurationItems.Any())
        {
            @for (var i = 0; i < Value.ConfigurationItems.ToArray().Length; i++)
            {
                var setting = Value.ConfigurationItems.ToArray()[i];
                <TableRow>
                    <TableRowCell Class="align-middle" Padding="Padding.Is0.OnY.Is3.OnX">
                        @if (!string.IsNullOrEmpty(setting.HelpText))
                        {
                            <span title="@setting.HelpText" class="float-left" style="width:2em;">
                                <Icon Name="FontAwesomeIcons.QuestionCircle" Margin="Margin.Is0.OnAll" />
                            </span>
                        }
                        else
                        {
                            <span class="float-left" style="width:2em;">&nbsp;</span>
                        }
                        <Heading Size="HeadingSize.Is6" Float="Float.Left" Margin="Margin.Is0.FromBottom">
                            @setting.DisplayName
                        </Heading>
                    </TableRowCell>
                    <TableRowCell Class="align-middle" Padding="Padding.Is1.OnAll">
                        @if (ShowEditControls)
                        {
                            <ConfigurationItemEditor @bind-Value="@setting" />
                        }
                        else
                        {
                            <code>@setting.Value</code>
                        }
                    </TableRowCell>
                </TableRow>
            }
        }
    </TableBody>
</Table>

@code {
    [Parameter]
    public ProviderConfigurationViewModel Value { get; set; }

    [Parameter]
    public EventCallback<ProviderConfigurationViewModel> ValueChanged { get; set; }

    [Parameter]
    public bool ShowEditControls { get; set; }

    [Parameter]
    public EventCallback<bool> ShowEditControlsChanged { get; set; }
}
