<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/67c708de-facd-4332-a6da-c35b24f8db3a/resourceGroups/authjanitor-2021/providers/Microsoft.Web/sites/authjanitor</ResourceId>
    <ResourceGroup>authjanitor-2021</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authjanitor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>ef1c9f16-af6b-44dd-9d83-dc0e5bd21b9e</ProjectGuid>
    <MSDeployServiceURL>authjanitor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>authjanitor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$authjanitor</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>broadscope.work</ADDomain>
    <ADAppIDUri>https://broadscope.work/WebApp-authjanitor.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>77d95ace-e1cc-4e87-ace1-d6871319e09e</ADClientAPPID>
    <ADClientPassword>bT8moMsW6VoN/atOmWDG0LwKJfqW+yS79wOP9NKPckw=</ADClientPassword>
    <ADReplyUrl>https://authjanitor.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>185bb12a-cb44-4d85-81fe-297ba9e6b4d1</ADTenantId>
    <ADPostLogoutRedirectUri>https://authjanitor.azurewebsites.net/</ADPostLogoutRedirectUri>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>