<div class="row" style="background-color: #e9ecef;">
    <div class="col col-9 p-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">@Category</li>
                @if (string.IsNullOrEmpty(OptionalObjectName))
                {
                    <li class="breadcrumb-item active" aria-current="page">
                        @PageGroup
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        @if (!string.IsNullOrEmpty(PageGroupLink))
                        {
                            <a href="@PageGroupLink">@PageGroup</a>
                        }
                        else
                        {
                            @PageGroup
                        }
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@OptionalObjectName</li>
                }
            </ol>
        </nav>
    </div>
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public string PageGroup { get; set; }

    [Parameter]
    public string PageGroupLink { get; set; }

    [Parameter]
    public string OptionalObjectName { get; set; }
}