<h5>
    <span class="badge @BadgeColor">
        @if (ShowRiskText)
        {
        <span class="d-none d-lg-inline">Risk Score &middot; </span>
        }
        @Value
    </span>
</h5>

@code {
    public string BadgeColor
    {
        get
        {
            if (Value > 90) return "badge-danger";
            else if (Value > 75) return "badge-warning";
            else return "badge-success";
        }
    }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public bool ShowRiskText { get; set; } = false;
}
