<div class="progress" style="border-radius:0;">
    <div class="progress-bar @BackgroundColor" role="progressbar" style="width: @($"{Value}%");" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="100">@($"{Value}%")</div>
</div>

@code
{
    public string BackgroundColor
    {
        get
        {
            if (Value > 90) return "bg-danger";
            else if (Value > 75) return "bg-warning";
            else return "bg-success";
        }
    }

    [Parameter]
    public int Value { get; set; }
}