<div class="card @BgColor h-100 @TextColor">
    <div class="card-body @BgColor">
        <div class="rotate"><i class="@Icon fa-6x"></i></div>
        <h6 class="text-uppercase">@Heading</h6>
        <h1 class="display-4">@Data</h1>
    </div>
</div>

@code {
    [Parameter]
    public string TextColor { get; set; } = "text-white";

    [Parameter]
    public string BgColor { get; set; } = "bg-primary";

    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public string Data { get; set; }

    [Parameter]
    public string Icon { get; set; }
}
