<div id="helpContainer" class="help-container text-light border-right-0 border-info rounded-left shadow-lg @(Visible ? "in" : "")">
    <h1 class="display-4">
        <i class="@Icon mr-2"></i>
        @Title
    </h1>
    @ChildContent
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
