<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authjanitor-admin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/67c708de-facd-4332-a6da-c35b24f8db3a/resourceGroups/authjanitor/providers/Microsoft.Web/sites/authjanitor-admin</ResourceId>
    <UserName>$authjanitor-admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://authjanitor-admin.scm.azurewebsites.net/</PublishUrl>
    <SCMUrl>https://authjanitor-admin.scm.azurewebsites.net/</SCMUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>